<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.xilinx.opencl.launch.openCLLaunch">
    <stringAttribute key="SDACCEL_DATA_TRANSFER_TRACE" value="coarse"/>
    <booleanAttribute key="SDACCEL_ENABLE_PROFILE" value="true"/>
    <stringAttribute key="SDACCEL_STALL_TRACE" value="off"/>
    <stringAttribute key="SDACCEL_TIMELINE_REPORT_STRING" value="Default"/>
    <booleanAttribute key="SDX_DO_BINARY_CONTAINERS_ARGS" value="false"/>
    <booleanAttribute key="SDX_USE_DEFAULT_WORKING_DIR" value="true"/>
    <booleanAttribute key="com.xilinx.sdx.internal.opencl.language.ui.launch.ui.stop_at_kernal_start" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.mi.core.DEBUG_NAME" value="gdb"/>
    <stringAttribute key="org.eclipse.cdt.debug.mi.core.GDB_INIT" value=".gdbinit"/>
    <stringAttribute key="org.eclipse.cdt.debug.mi.core.commandFactory" value="org.eclipse.cdt.debug.mi.core.standardLinuxCommandFactory"/>
    <booleanAttribute key="org.eclipse.cdt.debug.mi.core.verboseMode" value="false"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="${env_var:XILINX_SDX}/${env_var:RDI_PLATFORM}/tools/gdb/gdb-7.9.1/bin/gdb"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.internal.ui.launching.LocalApplicationCDebuggerTab.DEFAULTS_SET" value="true"/>
    <stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="gdb"/>
    <stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
    <booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_ARGUMENTS" value=""/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Emulation-SW/IDCT.exe"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="IDCT"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value=""/>
    <stringAttribute key="org.eclipse.cdt.launch.WORKING_DIRECTORY" value="${workspace_loc:IDCT}/Emulation-SW/IDCT-Default"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/IDCT"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="LD_LIBRARY_PATH" value="${env_var:XILINX_SDX}/platforms/xilinx_aws-vu9p-f1-04261818_dynamic_5_0/sw/lib/x86_64:${env_var:XILINX_XRT}/lib/:${env_var:XILINX_SDX}/lib/lnx64.o:${env_var:XILINX_SDX}/lib/lnx64.o/Default:${env_var:XILINX_SDX}/lnx64/tools/gcc/lib64"/>
        <mapEntry key="XILINX_OPENCL" value="${env_var:XILINX_SDX}/"/>
        <mapEntry key="XILINX_SDACCEL" value="${env_var:XILINX_SDX}/"/>
    </mapAttribute>
</launchConfiguration>
